body{
    background-color: #001011;
    font-family: Arial, Helvetica, sans-serif;
}


.name-text{
    color: #8D2CA0;
}

.nav-bg{
    background-color: rgba(255, 255, 255, .1);
}

.img-me{
    height: 200%;
    right: 10%;
    top: 27%;
    position: relative;
}

.welcome-text{
    position: relative;
    left: 10%;
}

.bar-down{
    position: relative;
    top: 4000%;
    width: 40%;
}