body{
    background-color: #001011;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    /* scroll-padding-top: 100px; */
}

::-webkit-scrollbar{
    width: 0px;
}
/* Navbar */
.name-text{
    color: #8D2CA0;
}

.text-hover{
    text-decoration: none;
    color: white; 
}

.text-hover:hover{
    /* color: #47FFFC; */
    color: #8D2CA0;
    text-decoration: underline;
    transition: .5s ease;
}

.nav-bg{
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Home bg */
.blob{
    z-index: -1;
    position: absolute;
}

.img-me{
    height: 685px;
    margin-top: 100px;
    object-fit: cover;
    overflow: hidden;
    /* border: solid 2px white; */
}

.welcome-text{
    margin-top: 450px;
    margin-left: 200px;
}

/* About me */
.four-bars{
    margin-top: 300px;
}

.info-text{
    color: #47FFFC;
}

.about-text{
    margin-top: 300px;
    font-size: 20px;
}

.bar-one{
    width: 50%;
    background-color: #E65100;
}

.bar-two{
    width: 50%;
    background-color: #2AA4F4;
}

.bar-three{
    width: 50%;
    background-color: #F7DF1E;
}

.bar-four{
    width: 50%;
    background-color: #673AB7;
}

.more{
    margin-top: 500px;
}

/* Projecten */
.project-scroll{
    scroll-margin-top: 90px;
}

.project-text{
    color: #47FFFC;
    margin-top: 400px;
}

.card-1{
    margin-top: 50px;
}

.card-2{
    margin-top: 20px;
}

.card-3{
margin-top: 20px;
}

.project-card{
    width: 800px;
}

.source-btn{
    background-color: #424BB3;
    color: white;
    margin-left: 380px;
    margin-top: 100px;
}

.source-btn-two{
    background-color: #424BB3;
    color: white;
    margin-right: 380px;
    margin-top: 100px;
}

/* Contact */
.contact-down{
    margin-top: 300px;
    position: relative;
}

.contact-text{
    color: #47FFFC;
}

.contact{
    color: white;
    position: absolute;
    top: 40%;
}

.form-label{
    color: white; 
    margin-left: 650px;
}

.form-control{
    width: 50%;
    border: 2px solid black;
    margin-left: 650px;
}

.icons{
    /* margin-top: 100px; */
}

