@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: #001011; */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::selection {
    /* background-color: #8D2CA0; */
  }
  
  /* Navbar */
  /* .progress-container {
    height: 10px;
    margin-top: 75px;
  }
  
  /* .progress-bar {
    background-color: #550000;
    width: 0;
  } */ */